<header>
	<nav>
		<div class="top">SiteAdmin</div>
		<div class="user">
			<div class="photo">
				
			</div>
		</div>
		<ul>
			<li><a href="#">
				<i class="fa fa-dashboard"></i>
				<span>Dashboard</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-envelope"></i>
				<span>Inbox</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-file-text"></i>
				<span>Posts</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-music"></i>
				<span>Media</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-user"></i>
				<span>Users</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-archive"></i>
				<span>Support Tickets</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-wrench"></i>
				<span>Tools</span>
			</a></li>
			<li><a href="#">
				<i class="fa fa-cog"></i>
				<span>Settings</span>
			</a></li>
		</ul>
	</nav>
	<div class="placeholder"></div>
	<div class="container">
		<div class="navigation-toggle hamburger"><i></i></div>
		<a class="title" href="/"></a>
		<!--<ul>
			<li><a href="#">Header Nav Tab</a></li>
		</ul>-->
	</div>
</header>